vendor/*
!vendor/vendor.json
coverage.out
count.out
test
profile.out
tmp.out

.settings/
.project
runtime/
.idea/
.git/
.DS_Store
.buildpath
*.patch
go.sum
*.json
*.toml
*.yaml
*.tpl
.run/

data/
bin/
uploads/
